@import "./base.css";

#app {
  font-weight: normal;
}

a {
  text-decoration: none;
}

.mt10 {
  margin-top: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.ml10 {
  margin-left: 10px;
}